langchain
langchain-ollama
langchain-groq
langgraph
sentence-transformers
faiss-cpu
chromadb
fastapi
uvicorn
python-multipart
streamlit
plotly
pypdf
python-dotenv
pydantic
reportlab
faster-whisper
sounddevice
soundfile
requests